@import url(https://fonts.googleapis.com/css?family=Merriweather:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --font-family-title: 'Merriweather', Courier;
    --font-family-text: 'roboto', sans-serif;
    --background-color-body: #f5f0e6;
    --background-color-card: #d8c3a5;
    --titles-color: #5D3A00;
    --text-color: #333333;
    --links-color: #6B8E23;
    --links-hover-color: #556B2F;
    --button-primary: #8B4513;
    --background-color-footer: #3E2C1C;
}

html,
body {
    background-color: var(--background-color-body);
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--font-family-title);
    color: var(--titles-color);
    transition: 0.5s;
}

p, a {
    font-family: var(--font-family-text);
    color: var(--text-color);
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
}

ul {
    list-style: none;
}

button {
    border: solid 2px var(--button-primary);
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
    transition: 1.0s;
}


.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

header {
    background-color: var(--background-color-card);
    justify-content: center;
    display: flex;
    width: 100%;
}

header nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
}

header nav a {
    align-items: center;
    display: flex;
    gap: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-inline: 1em;
}

header nav ul li a:hover {
    color: var(--button-primary);
    text-decoration: underline;
}

header nav .action button {
    margin-inline: 0.5em;
    padding: 1em;
    width: 50px;
    height: auto;
}

header nav .action button:hover {
    box-shadow: 0 5px 10px var(--background-color-body);
    border-color: var(--background-color-body);
    color: var(--background-color-body);
}
